@page "/AddNewMusteri"
@using CompanyRecProject.Data
@inject MusteriService musterisService
@inject NavigationManager NavigationManager

<h3>Yeni Müşteri Ekle</h3>

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="musteriIsim" class="control-label">Musteri İsim</label>
                <input form="musteriIsim" class="form-control" @bind="musteriObject.CustomerName"/>
            </div>
            <div class="for-group">
                <label for="musteriBakiye" class="control-label">Musteri Bakiye</label>
                <input form="musteriBakiye" class="form-control" @bind="musteriObject.Balance" />
            </div>
            <div class="for-group">
                <label for="musteriAdress" class="control-label">Musteri Adres</label>
                <input form="musteriAdress" class="form-control" @bind="musteriObject.CustomerAdress" />
            </div>
            <div class="for-group">
                <label for="musteriTelefon" class="control-label">Musteri Telefon</label>
                <input form="musteriTelefon" class="form-control" @bind="musteriObject.CustomerPhone" />
            </div>
        </div>
    </div>
    <div>
        <input type="button" class="btn btn-success mt-2" @onclick="@AddNewMusteriDetails" value="Kaydet">
        <input type="button" class="btn btn-success mt-2" @onclick="@Cancel" value="Listeye Dön">
    </div>
</form>

@code {
    Musteri musteriObject = new Musteri();
    protected async void AddNewMusteriDetails()
    {
        await musterisService.AddNewMusteri(musteriObject);
        NavigationManager.NavigateTo("Musteri");

    }

    protected async void Cancel()
    {
        NavigationManager.NavigateTo("Musteris");
    }

}
