@page "/AddNewInvoice"
@using CompanyRecProject.Data
@inject InvoiceService invoiceService
@inject NavigationManager NavigationManager

<h3>Yeni Fatura Ekle</h3>

<form>
	<div class="row col-md-8">

		<div class="for-group">
			<label for="musteriName" class="control-label">Kurum/İşletmeci Adı</label>
			<input form="musteriName" class="form-control" @bind="invoiceObject.musteriName" />
		</div>

		<div class="for-group">
			<label for="faturatip-select">fatura tipi seç</label>
			<select name="invoiceType" @bind="invoiceObject.InvoiceType">
				<option value="">Lütfen fatura tipi seçiniz</option>
				<option value="Alış">Alış</option>
				<option value="Satış">Satış</option>
			</select>
		</div>


		<div class="for-group">
			<label for="invoiceDate" class="control-label">Fatura Tarihi</label>
			<input type="datetime-local" form="invoiceDate" class="form-control" @bind="invoiceObject.InvoiceDate" />
		</div>
		<div class="for-group">
			<label for="invoicePrice" class="control-label">Fatura Tutarı</label>
			<input form="" class="form-control" @bind="invoiceObject.Price" />
		</div>
	</div>

	<div>
		<input type="button" class="btn btn-success mt-2" @onclick="@AddNewInvoiceDetails" value="Kaydet">
		<input type="button" class="btn btn-success mt-2" @onclick="@Cancel" value="Listeye Dön">
	</div>
</form>

@code {
	Invoice invoiceObject = new Invoice();
	protected async void AddNewInvoiceDetails()
	{
		await invoiceService.AddNewInvoice(invoiceObject);
		NavigationManager.NavigateTo("FaturaList");

	}

	protected async void Cancel()
	{
		NavigationManager.NavigateTo("FaturaList");
	}

}
