@page "/FaturaList"
@using CompanyRecProject.Data
@inject MusteriService musteriService
@inject InvoiceService invoiceService


<NavLink class="nav-link" href="AddNewInvoice">
    <span class="btn btn-success justify-contentstart-0" aria-hidden="true"> Fatura Ekle</span>

</NavLink>

<h3>FATURALAR</h3>

@if(InvoiceObject is null)
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Yükleniyor...
    </button>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fatura No
                </th>
                <th>
                   Kurum Adı
                </th>
                <th>
                    Fatura Tipi
                </th>
                <th>
                    Fatura Tarihi
                </th>
                <th>
                    Fatura Tutarı
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in InvoiceObject)
            {
                <tr>
                    <td>
                        @item.InvoiceId
                    </td>
                    <td>
                        @item
                    </td>
                    <td>
                        @item.InvoiceType
                    </td>
                    <td>
                        @item.InvoiceDate
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
@code {
    List<Invoice> InvoiceObject;

    protected override async Task OnInitializedAsync()
    {
        InvoiceObject = await Task.Run(() => invoiceService.GetAllInvoices());

    }
}



